<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.chaunier.fr/xtext/mapdsl/MapDsl" 
       class = "fr.chaunier.xtext.mapdsl.mapDsl.MapDslPackage"
       genModel = "fr/chaunier/xtext/mapdsl/MapDsl.genmodel" /> 
	
  </extension>





</plugin>
